@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
$font_color: #484f5b;
*{
    margin: 0;
    padding: 0;
}
body{
     color: $font_color;
     font-size: 16px;
     font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
}
.align-item-center{
    align-items: center;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.main-header{
    height: 120px;
    line-height: 120px;
}
.logo{
    padding-top: 20px;
    img{
        max-width: 220px;
    }
}
.main-menu{
    ul{
        display: flex;
        column-gap: 75px;
        justify-content: end;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $font_color;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
.banner-area{
    background-image: url('../assets/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-img{
        img{
            position: relative;
            left: -275px;
        }
    }
    .banner-content-wrap{
        padding-left: 50px;
        .banner-content{
            h1{
                font-size: 65px;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }
}
.form-area{
    padding: 100px 0;
}
.form-field{
    margin-bottom: 30px;
    margin-right: 60px;
    label{
        font-size: 16px;
        font-weight: 600;
        display: block;
        margin-bottom: 15px;
        text-align: left;
    }
    input{
        line-height: 40px;
        padding: 0 10px;
        outline: none;
        width: 100%;
        border: 1px solid #1157ce;
        &:focus{
            border-color: #96fd0f;
        }
    }
    textarea{
        outline: none;
        width: 100%;
        padding: 10px;
        border: 1px solid #1157ce;
        &:focus{
            border-color: #96fd0f;
        }
    }
    select{
        width: 100%;
        padding: 10px;
        border: 1px solid #1157ce;
        outline: none;
    }
    &.textarea{
        text-align: center;
    }
    button[type="submit"]{
        border: none;
        outline: none;
        width: 180px;
        line-height: 50px;
        background-color: #1157ce;
        border-radius: 5px;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            background-color: #96fd0f;
        }
    }
}